@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 248, 255;

  --primary: #004d79;
  --secondary: #ec952c;

  --primary-rgb: rgb(0,77,121);
  --secondary-rgb: rgb(236,149,44);

  --secondary-faded: rgba(236, 149, 44, 0.4); /* Adjust the opacity as needed */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--secondary-faded);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary-faded);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
  border: 2px solid var(--secondary-faded);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
