@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 248, 255;

  --primary: #004d79;
  --seconday: #ec952c;

  --primary-rgb: rgb(0,77,121);
  --secondary-rgb: rgb(236,149,44);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
